.nav{
  display: flex;
  justify-content: space-around;
  height: 70px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 2px lightgray;
  font-family: 'Times New Roman', Times, serif;
}

.navLf{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
  margin-left: -5%;
}

.navRt{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -75px;
}

.dAndM{
  display: flex;
}

.dropDown{
  position: relative;
  display: inline-block;
  margin-left: 7px;
}

.menuItems{
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: white;
}

.menuItems a{
  padding: 12px 16px;
  display: block;
  border-bottom: 1px solid lightgray;
}

.deal{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  font-size: 15pt;
}

.menu{
  display: flex;
  background-color: transparent;
  border-color: transparent;
  font-size: 15pt;
  font-family: 'Times New Roman', Times, serif;
}

a:hover{
  text-decoration: underline 3px solid red;
}

.nav a{
  text-decoration: none;
  color: black;
  font-size: 15pt;
}

.menuItems a:hover{
  border-left: 3px solid #e21216;
  background-color: aliceblue;}

.dropDown:hover .menuItems{ display: block;}

.dropDown:hover .menu{ text-decoration: underline 3px solid #e21216;}


.signIn{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12pt;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 2px lightgray;
  width: 175px;
  height: 70px;
}

.hutSign{
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 10px;
}

.hut{
  font-size: 8pt;
  color: red;
}


#loginImg{
  border-radius: 50%;
}

.shoppingC:hover{
  text-decoration: underline 3px solid #e21216;
}

.shoppingC{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 12pt;
}

.cart{
  display: flex;
  justify-content: center;
  margin-left: 25px;
  /* flex-direction: column; */
}

.amount{
  position: absolute;
  font-size: 10pt;
}

.total{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 75px;
  font-size: 15pt;
  font-weight: normal;
}

.main{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.AD{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.firstAd{
  background-image: url('https://www.pizzahut.com/assets/w/images/homepage_hero/Hero_TripleTreatBox2023_Desktop_1104x360.jpg');
  background-repeat: no-repeat;
  height: 330px;
  width: 1050px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 2px lightgray;
  object-fit: cover;
}

.findStore{
  display: flex;
  align-self: center;
}

.findStore a{
  text-decoration: none;
  color: black;
  display: flex;
  margin-bottom: 40px;
  margin-top: 40px;
  width: 1060px;
  height: 70px;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid #e21216;
  box-shadow: 5px 5px 6px lightgray;
  align-items: center;
  font-family:'Times New Roman', Times, serif;
}

.gps{
  display: flex;
  font-size: 25pt;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-right: 1px solid lightgray;
  height:70px;
  width: 250px;
}

.back{
  display: flex;
  position: absolute;
  background-color: #e21216;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  margin-left: -143px;
  margin-top: -18px;
}

.find{
  font-size: 15pt;
}

.btnLK{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 230px;
  background-color: #e21216;
  color: white;
  border-radius: 5px;
  margin-right: 20px;
}

.featured{
  display: flex;
  justify-content: center;
  
}

.othfeat{
  display: flex;
  margin: 0 auto;
  text-align: left;
  width: 1100px;
}

.fOne{
  display:flex;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 35pt;
  font-family: 'Times New Roman', Times, serif;
}

.fOne a{
  display: flex;
  text-decoration: none;
  color: #e21216;
  font-size: 12pt;
  margin-left: 20px;
}

.fOne a:hover{
  text-decoration: underline 1px red;
}

.fTwo{
  display: flex;
  width: 1100px;
  justify-content: space-evenly;
}

.fTwo a{
  text-decoration: none;
  color: black
}

.fstFeat{
  display: flex;
  align-items: end;
  background-image: url('https://www.pizzahut.com/assets/w/images/homepage_deal/Sidekick_1299SC_SmallDesktop_v2_352x282.jpg');
  height: 360px;
  width: 330px;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 5px 5px 2px lightgray;
}

.fFeat{
  display: flex;
  margin-left: 25px;
  margin-bottom: 10px;
  flex-direction: column;
  font-family: 'Times New Roman', Times, serif;
}

.fFeat h4{
  margin-bottom: -10px;
}

.fFeat p{
  font-size: 10pt;
}

.sndFeat{
  display: flex;
  align-items: end;
  background-image: url('https://www.pizzahut.com/assets/w/images/homepage_deal/Sidekick_999L1T_SmallDesktop_v3_352x282.jpg');
  height: 360px;
  width: 330px;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 5px 5px 2px lightgray;
}

.thrdFeat{
  display: flex;
  align-items: end;
  background-image: url('https://www.pizzahut.com/assets/w/images/homepage_deal/Sidekick_BNYSustain_SmallDesktop_352x282.jpg');
  height: 360px;
  width: 330px;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 5px 5px 2px lightgray;
}

.sndFeatured{
  display: flex;
  margin: 0 auto;
  margin-top: 25px;
}

.sndFeatured a{
  text-decoration: none;
  color: black;
}

.melts{
  display: flex;
  align-items: end;
  background-image: url('https://www.pizzahut.com/assets/w/images/homepage_deal/Melts_LargeDesktop_priced_sk_541x282.jpg');
  height: 350px;
  width: 500px;
  margin-right: 30px;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 5px 5px 2px lightgray;
}

.wings{
  display: flex;
  align-items: end;
  background-image: url('https://www.pizzahut.com/assets/w/images/homepage_deal/Sidekick_BOTRADwings_LargeDesktop_541x282.jpg');
  height: 350px;
  width: 500px;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 5px 5px 2px lightgray;
}



.popTxt{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 300px;
  width: 1050px;
}

.txtPop{
  display: flex;
  justify-self: left;
}

.popular{
  margin: 20px;
}

.popText{
  display: flex;
  align-items: center;
  height: 70px;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 10px;
  font-size: 30pt;
  font-family: 'Times New Roman', Times, serif;
}

.popText a{
  display: flex;
  font-size: 11pt;
  text-decoration: none;
  color: #e21216;
  margin-left: 20px;
}

.popText a:hover{
  text-decoration: 1px underline #e21216;
}

#topPop{
  display: flex;
  margin: 0 auto;
  border-top: 2px solid #e21216;
  border-bottom: 1px solid #e21216;
  width: 1030px;
  height: 5px;
  margin-top: 30px;
}

.popPizza{
  display: flex;
  align-self: center;
  width: 1030px;
}

.pop {
  display: flex;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 2px lightgray;
  width: 250px;
}

.popPizza a{
  text-decoration: none;
  color: black;
}

#btmPop{
  display: flex;
  margin: 0 auto;
  margin-top: -50px;
  border-top: 1px solid #e21216;
  border-bottom: 2px solid #e21216;
  width: 1030px;
  height: 5px;
}

hr{
  width: 85%;
  opacity: 0.5;
}

.bttmLinks{
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  width: 1030px;
}

.lfLink{
  display: flex;
  background-image: url('https://www.pizzahut.com/assets/w/images/homepage_narrow_banner/HutRewards_MarketingBanner_541x282.jpg');
  height: 260px;
  width: 100%;
  background-repeat: no-repeat;
  margin: 5px;
  border-radius: 5px;
}

.rtLink{
  display: flex;
  background-image: url('https://www.pizzahut.com/assets/w/images/homepage_narrow_banner/NowHiring_MarketingBanner_541x282.jpg');
  height: 260px;
  width: 100%;
  background-repeat: no-repeat;
  margin: 5px;
  border-radius: 5px;
}



.Footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Footer  a{
  font-size: 9pt;
}

h6{
  font-size: 10pt;
}

.para{
  font-size: 9pt;
  font-family: 'Times New Roman', Times, serif;
}

.delChg{
  /* height:  */
}

.columns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-top: -50px;
}

#food{
  height: 130px;
}

.columns a{
  margin-bottom: 10px;
}

.upperFt{
  display: flex;
  width: 1080px;
  height: 600px;
  justify-content: space-between;
}


.mobileApp{
  margin: 5px;
  align-items: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  font-size: 25pt;
  font-family: 'Times New Roman', Times, serif;
}

.mobile{
  display: flex;
  flex-direction: column;
}

.column a:hover{
  text-decoration: underline 1px solid black;
}

.mobileApp a{
  display: flex;
  font-size: 12pt;
  text-decoration: none;
  color: #e21216;
}

.mobileApp a:hover{
  text-decoration: underline 1px solid #e21216;
}

#app{
  margin-bottom: -15px;
}

.column{
  display: flex;
  text-align: left;
  flex-direction: column;
  font-family: 'Times New Roman', Times, serif;
  height: 300px;
  margin-bottom: -20px;
}

.column h6{
  font-weight: normal;
  font-size: 9pt;
  margin-bottom: 10px;
}

.column a{
  text-decoration: none;
  color: black;
}

.bar{
  display: flex;
  width: 85%;
  text-align: left;
}

.bar a{
  text-decoration: none;
  color: black;
  margin-right: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 8pt;
}

.bar a:hover{
    text-decoration: underline 1px solid black;
  }

.para{
  display: flex;
  flex-direction: column;
  width: 85%;

}
