#root *.hidden
{
  visibility: collapse;
}

#PizzaMenu *
{
  position: relative;
  box-sizing: border-box;
}

#PizzaMenu
{
  box-sizing: border-box;
  border: 1px solid black;
  text-align: left;
  
  font-family: Verdana, sans-serif;
  font-size: 11pt;
  margin: 0;
  padding: 24px;
  padding-bottom: 0;
  
  display: flex;
  flex-direction: column;
  gap: 0;
  
  align-items: flex-start;
}

#PizzaMenu h1 { font-family: Garamond, serif; font-size: 40pt; font-weight: bold; }
#PizzaMenu h2 { font-family: Garamond, serif; font-size: 24pt; font-weight: bold; }
#PizzaMenu h4 { font-family: Verdana, sans-serif; font-size: 11pt; font-weight: bold; }

#PizzaMenu .icon_small
{
  width: 20px;
  height: 20px;
  object-fit: contain;
}

#PizzaMenu .icon_medium
{
  width: 24px;
  height: 24px;
  object-fit: contain;
}

#PizzaMenu .Button
{
  color: white;
  border: 0;
  border-radius: 8px;
  background-color: #e21216;
  padding: 12px 96px;
  
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12pt;
}

#PizzaMenu .Button:hover { transition: 0.3s; box-shadow: 0 4px 6px #00000040;}

/* # Menu List */
/* https://stackoverflow.com/a/19968303 */
#PizzaMenu .PizzaList.collapsed > *:nth-child(n+4)
{
  display: none;
}

#PizzaMenu #SeeMore
{
  background: none;
  border: 0;
  color: #266dcc;
  font-size: 11pt;
  
  margin: 24px;
  text-align: center;
  align-self: center;
  
  display: flex;
  flex-direction: row;
}

#PizzaMenu #SeeMore:hover { text-decoration: underline; }

/* # Menu Items */
#PizzaMenu .PizzaMenuItem
{
  min-height: 128px;
  max-height: fit-content;
  
  /* This got the desired effect. don't know why */
  max-width: 50rem; 
  border-bottom: 1px solid #cfcecc;
  padding-top: 18px;
  padding-bottom: 32px; 
  
  display: flex;
  flex-direction: row;
  gap: 16px;
}
#PizzaMenu .PizzaMenuItem:hover { transition: 0.3s; background-color: #f6f6f6;}
#PizzaMenu .PizzaMenuItem * {  margin: 0; padding: 0; }
#PizzaMenu .PizzaMenuItem h4, #PizzaMenu .PizzaMenuItem .Popular {  margin-bottom: 4px; }

#PizzaMenu .PizzaMenuItem > .MenuItemImage 
{
  flex: 2;
  border-radius: 8px;
  background-color: #e21216;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  
  height: 128px;
  min-width: 128px;
  max-width: 256px;
}

#PizzaMenu .PizzaMenuItem .Popular 
{ 
  color: #e21216;
  border: 1px solid #e21216;
  border-radius: 3px; 
  width: fit-content; 
  padding: 2px 4px;
  font-size: 7pt;
  text-transform: uppercase;
  font-kerning: auto;
  letter-spacing: 1pt;
}

#PizzaMenu .PizzaMenuItem > .MenuItemText { flex: 3; }
#PizzaMenu .PizzaMenuItem > .MenuItemText > *
{
  line-height: 1.5;
}

#PizzaMenu .PizzaMenuItem .vegPizzaIcon
{
  float: right;
}

#PizzaMenu .PizzaMenuItem > .MenuItemIcons 
{ 
  display: flex;
  flex-direction: column;
  margin-bottom: -24px;

  justify-content: end;
}

#PizzaMenu .PizzaMenuItem > .MenuItemIcons .infoIcon
{
  position: absolute;
  box-sizing: content-box;
  
  background-color: white;
  border-radius: 50%;
  padding: 8px;
  
  top: -8px;
  right: -8px;
}

#PizzaMenu .PizzaMenuItem > .MenuItemIcons .infoIcon:hover
{
  filter: contrast(90%) opacity(80%);
}

#PizzaMenu #information
{
  padding-top: 24px;
}

